<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>$(find rc_car_description)/config/controllers.yaml</parameters>
      <ros>
        <remapping>/ackermann_steering_controller/tf_odometry:=/tf</remapping>
        <remapping>/ackermann_steering_controller/reference_unstamped:=/cmd_vel</remapping>
        <remapping>/ackermann_steering_controller/odometry:=/odom</remapping>
      </ros>
    </plugin>
  </gazebo>

</robot>